{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'header_full.html' %}
{% endblock %}

{% block content %}

    <section class="white-block about">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Что такое онлайн-консультация психолога</h2>
                </div>
            </div>
            <div class="row about__list">
                <div class="col-12 col-sm-6 col-md-3 m-30">
                    <img src="/static/img/timer.png">
                    <p><strong>50 минут</strong></p>
                    <p>длительность консультации</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 m-30">
                    <img src="/static/img/homework.png">
                    <p><strong>Домашние задания</strong></p>
                    <p>от психолога в личном кабинете</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 m-30">
                    <img src="/static/img/card.png">
                    <p><strong>3400 рублей</strong></p>
                    <p>стоимость сеанса</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <img src="/static/img/msgs.png">
                    <p><strong>5-6 сеансов</strong></p>
                    <p>средняя длительность терапии</p>
                </div>
            </div>
        </div>
    </section>

    <section class="white-block users">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Для кого этот сервис</h2>
                </div>
            </div>
            <div class="row users__list">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blue-card">
                        <img src="/static/img/user-01.png">
                        <h3><strong>Хотите работать с профессиональными психологами</strong></h3>
                        <ul class="users__descr text-left">
                            <li>
                                <p>Наши специалисты регулярно проходят супервизии
                                    <span class="mark"></span>
                                    <span class="mark-text">Супервизии — это один из методов теоретического и практического повышения квалификации специалистов в области психотерапии, клинической психологии и др. в форме их профессионального консультирования и анализа целесообразности и качества используемых практических подходов и методов психотерапии.</span>
                                </p>
                            </li>
                            <li>
                                <p>Все специалисты являются сотрудниками Московской службы психологической помощи
                                    населению и работают с самыми разными проблемами</p>
                            </li>
                            <li>
                                <p>Специалисты имеют большой практический опыт и работают в данной сфере много лет</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blue-card">
                        <img src="/static/img/user-02.png">
                        <h3><strong>Не хотите никуда ездить и подстраиваться под чужое расписание</strong></h3>
                        <ul class="users__descr text-left">
                            <li>
                                <p>Вы сможете выбрать удобное время для себя</p>
                            </li>
                            <li>
                                <p>Получайте консультацию где-угодно, главное чтобы под рукой был компьютер или
                                    телефон</p>
                            </li>
                            <li>
                                <p>Не нужно тратить время на дорогу к психологу и обратно</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blue-card">
                        <img src="/static/img/user-03.png">
                        <h3><strong>Не знаете где и как искать хорошего психолога</strong></h3>
                        <ul class="users__descr text-left">
                            <li>
                                <p>Вам не нужно разбираться в различных методиках и школах психологии. Специалист
                                    подберет подходящую именно вам методику</p>
                            </li>
                            <li>
                                <p>Вам не нужно изучать дипломы и сертификаты специалистов. Мы уже все проверили</p>
                            </li>
                            <li>
                                <p>Не нужно гадать являются ли отзывы настоящими. Специалисты - сотрудники
                                    государственной организации, а не частные практики</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="white-block specialists">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Наши специалисты</h2>
                </div>
            </div>
            <div class="row specialists__list">
                <div class="col-10 offset-1 col-md-12 offset-md-0">
                    <div>
                        <div class="owl-carousel specialist__slider">
                            {% for specialist in specialists %}
                                <div>
                                    <img class="img__gradient1" src="/media/{{ specialist.avatar }}">
                                    <p class="specialist__name">{{ specialist.middle_name }} {{ specialist.first_name }} {{ specialist.last_name }} </p>
                                    <p class="specialist__prof">Специалист по семейным проблемам</p>
                                    <p class="specialist__time">6 мая, 10:00</p>
                                </div>
                            {% endfor %}

                            {% comment %}                            <div>
                                <img src="/static/img/specialist-02.png">
                                <p class="specialist__name">Ашихина Екатерина Владимировна</p>
                                <p class="specialist__prof">Гештальт-терапевт</p>
                                <p class="specialist__time">12 марта, 14:00</p>
                            </div>{% endcomment %}
                        </div>
                    </div>
                    <form action="{% url 'select' %}">
                        <button class="green-btn" type="submit">
                            Подобрать специалиста
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="white-block about">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Почему мы?</h2>
                </div>
            </div>
            <div class="row about__list">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0 m-30">
                    <img src="/static/img/practice.png">
                    <p><strong>23 очных отделения в Москве и МО</strong> — только практикующие специалисты
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0 m-30">
                    <img src="/static/img/experience.png">
                    <p><strong>Более 170 консультаций в день</strong> — богатый реальный опыт</p>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0 m-30">
                    <img src="/static/img/specialist.png">
                    <p>
                        <strong>Специалисты регулятно проходят супервизии</strong> <span class="mark"></span> и
                        повышения квалификации
                        <span class="mark-text">Супервизии — это один из методов теоретического и практического повышения квалификации специалистов в области психотерапии, клинической психологии и др. в форме их профессионального консультирования и анализа целесообразности и качества используемых практических подходов и методов психотерапии.</span>
                    </p>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 offset-md-0">
                    <img src="/static/img/task.png">
                    <p><strong>Не только выслушать, но и добиться результата</strong> — наша главная задача!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="moscow">
        <div class="container">
            <div class="row blue-card">
                <div class="col-12 col-md-6 moscow__logos">
                    <img src="/static/img/msppn-logo.png">
                    <img src="/static/img/moscow-logo.png">
                </div>
                <div class="col-10 offset-1 col-md-6 offset-md-0">
                    <p>
                        Все специалисты нашего сервиса являются сотрудниками Московской службы психологической помощи
                        населению Департамента труда и социальной защиты населения города Москвы
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="howto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Как пользоваться сервисом</h2>
                </div>
            </div>
            <div class="row howto__list">
                <div class="col-12 col-md-4 howto__list-wrap">
                    <div class="howto__step step-one">
                        <img src="/static/img/step-01.png">
                        <p><strong>Выберите психолога</strong></p>
                        <p>Воспользуйтесь фильтрами: проблемы, опыт, возраст, пол; Из оставшихся выбирайте того, кто вам
                            лично понравится</p>
                    </div>
                    <div class="howto__step step-two">
                        <img src="/static/img/step-02.png">
                        <p><strong>Выберите время и дату</strong></p>
                        <p>Получите консультацию в удобное время</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <img src="/static/img/howto.png" class="resp-img">
                </div>
                <div class="col-12 col-md-4  howto__list-wrap">
                    <div class="howto__step step-three">
                        <img src="/static/img/step-03.png">
                        <p><strong>Оплатите картой</strong></p>
                        <p>Все просто как при оплате картой на любом сайте</p>
                    </div>
                    <div class="howto__step step-four">
                        <img src="/static/img/step-04.png">
                        <p><strong>Получите консультацию в назначенное время</strong></p>
                        <p>Мы дополнительно напомним вам уведомлением на почту или по смс</p>
                    </div>
                </div>

            </div>

        </div>
    </section>




{% endblock %}


{% block js_add %}

    {% comment %} <script type="text/javascript" src="/static/js/script.js"></script>{% endcomment %}
    <script>
        moment.locale('ru');  // Set the default/global locale
    </script>
    <script src="/static/js/owl.carousel.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/typeit@6.0.2/dist/typeit.min.js"></script>
    <script type="text/javascript">
        var instance = new TypeIt('#js-type__element', {
            strings: ["Как повысить самооценку?", "Как вести себя в отношениях?", "Как простить измену?", "Как полюбить себя?", "Как избавиться от депрессии?", "Как избавиться от одиночества?", "Как бороться со стрессом?", "Как пережить потерю близкого человека?", "Как пережить развод?", "Как быть хорошим родителем?", "Как общаться с ребенком?"],
            speed: 100,
            breakLines: false,
            autoStart: true,
            loop: true
        });

        instance.go();

        // slider
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: true
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false
                }
            }
        });
    </script>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
