{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}


    <div id="app">

        <div class=" masterhead " style="opacity: 0.9; background-color: rgb(15, 118, 153);">

            <div class="flex-center">
                <div class="container text-center white-text">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-6 col-md-10 offset-md-0 col-lg-7 offset-lg-5">
                            <div class="white-text text-xl-left wow fadeInUp ">
                                <h1>Онлайн-консультации психолога</h1>
                                <h5>Профессионально, конфиденциально в удобном для Вас месте</h5>
                                <br>
                                <form action="{% url 'select' %}" method="GET">
                                    <input type="submit" class="btn btn-outline- " style="background-color:  #3899e1"
                                           value="Начать"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="container-fluid  text-center  p-3 mt-4">
            <div class="h2-responsive  ">Что такое онлайн-консультация психолога
            </div>
        </div>
        <div class="container text-center">
            <div class="row m-2">
                <div class="col-12 col-md-6 col-lg-4 d-flex d-sm-block mt-3" v-for="con in consult">

                    <div>
                        <img v-for="img in con.img" :src="'static/' +  img " style="height: 80px" class="">
                    </div>

                    <p v-html="con.text" class="mt-2"></p>

                </div>
            </div>

        </div>


        {% comment %} <div class="container-fluid text-center p-3 mt-4">
            <div class="h2-responsive ">Мы поможем, если Вы:</div>
        </div>

        <div class="container text-center">
            <div class="row m-2">
                <div class="col-12 col-md-6 col-lg-3  d-flex d-sm-block " v-for="promo in promos">
                    <img :src="'static/' +  promo.img " style="height: 80px" class="">
                    <p class="">${ promo.text }</p>

                </div>
            </div>

        </div>{% endcomment %}
        <div class="rgba-blue-grey-slight">
            <div class="container-fluid  text-center p-3 mt-4">
                <div class="h2-responsive  ">Почему нужно обращаться к нам</div>
            </div>
            <div class="container text-center">
                <div class="row m-2">
                    <div class="col-12 col-md-6 col-lg-4 d-flex d-sm-block mt-3" v-for="feature in features">

                        <div>
                            <img v-for="img in feature.img" :src="'static/' +  img " style="height: 80px" class="">
                        </div>
                        <p class="font-weight-bold mt-2" v-html="feature.title"></p>
                        <p v-html="feature.text"></p>

                    </div>
                </div>

            </div>
        </div>


        {% comment %} <div class="mb-5 mt-3">
            <div class="container-fluid  text-center" id="start">
                <div class="h2-responsive ">Выбрать специалиста</div>
            </div>

            <div class="container mt-4">

                <button v-on:click="step=1; selectedThemes={};" v-bind:class="{'selected-button': step>1 }"
                        class="btn btn-light d-inline" style=" background-color:  #3899e1;">
                    Выбор темы
                </button>
                <div class="d-inline h4-responsive"> ${ selectedThemes.title }</div>

            </div>


            <div class="container pl-5" v-show="step == 1" style="display: none">
                <div class="row">
                    <div v-for="theme in themes" :key="theme.id" @click="selectedThemes = theme">
                        <button v-on:click="selectTheme" type="button"
                                class="btn btn-outline-blue-grey">
                            ${theme.title}
                        </button>
                    </div>
                </div>
            </div>


            <div class="container">

                <button v-on:click="selectSpecialist" v-bind:class="{'selected-button': step > 2 }"
                        class="btn btn-light d-inline">Выбор специалиста
                </button>
                <div class="d-inline h4-responsive"> ${selectedSpecialist.middle_name} ${selectedSpecialist.first_name}
                    ${selectedSpecialist.last_name }
                </div>

            </div>

            <div class="container  pl-5 mt-2" v-show="step == 2" style="display: none">
                <div class="card-deck">


                    <div class="card mb-4" v-for="specialist in specialists" :key="specialist.id"
                         @click="selectedSpecialist = specialist; step = 3; getTimeSlots();"
                         v-show="selectedThemes.id ? specialist.themes.includes(selectedThemes.id) : true">

                        <div class="card-body rgba-grey-slight">
                            <h4 class="card-title"> ${specialist.middle_name} ${specialist.first_name}
                                ${specialist.last_name }</h4>
                            <div class="card-text">
                                <div class="row">
                                       <i class="fa fa-quote-left"></i>
                                    <div class="row pl-3">${specialist.quote}</div>
                                </div>

                            </div>
                        </div>

                        <div class="rgba-grey-slight img-fluid">
                            <img v-if="specialist.avatar" class="card-img-bottom" :src="specialist.avatar"
                                 style=""/>
                            <img v-else class="card-img-top" style=""
                                 src="http://via.placeholder.com/300x450"/>

                        </div>
                    </div>

                </div>
            </div>


            <div class="container">

                <button v-on:click="step = 3" v-bind:class="{'selected-button': step>3 }"
                        class="btn btn-light  d-inline">
                    Выбор времени консультации
                </button>
                <div class="d-inline  h4-responsive"> ${ selectedTimeslot.start_time | formatDate } ${
                    selectedTimeslot.start_time |
                    formatTime }
                </div>

            </div>

            <div class="container pl-5" v-show="step == 3" style="display: none">
                <h2 class="h1-responsive  my-5">Выберите удобное время</h2>
                <div class="row" v-for="(date, index) in slotsByDate" :key="index">
                    <div class="col-12"><p class="h3-responsive mt-2">${ index }</p></div>
                    <div v-for="timeslot in date" :key="timeslot.id" class="">
                        <button type="button" v-on:click="selectedTimeslot = timeslot; step = 4"
                                class="btn btn-outline-primary "
                                :class="[timeslot.enrolls.length > 0 ? ' disabled btn-grey' : '']">
                            ${timeslot.time}
                        </button>
                    </div>


                </div>
            </div>

            <div class="container">

                <button v-on:click="step = 4" class="btn btn-light d-inline">Оплата</button>
                <div class="d-inline"> ${ selectedTimeslot.start_time | formatDate } ${ selectedTimeslot.start_time |
                formatTime }
            </div>

            </div>


            <div class="container pl-5 mb-5" v-show="step == 4" class="m-2" style="display: none">


                <div class="row">
                    <h5 class="font-weight-bold my-4 col-6" style=" color: #3899e1;"> Стоимость одной консультации</h5>
                    <h5 class="font-weight-bold my-4 col-6"> 3 400 руб.</h5>

                </div>


                <div class="row">

                    <form class="text-center border border-light p-5" method="post" action="{% url 'magic_payment' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <input type="email" name="email" class="input-email form-control mb-2"
                                   placeholder="Электронная почта" required/>
                        </div>
                        <div class="form-row">
                            <input class="input-card form-control mb-2" placeholder="Номер карты"/>
                        </div>


                        <div class="form-row">

                            <input class="col input-card-date form-control mb-2 mr-2" placeholder="Срок действия"/>
                            <input class="col input-card-CVV form-control mb-2" placeholder="CVV2/CVC2" maxlength="3"/>
                        </div>
                        <div class="form-row">
                            <input class="input-holder form-control mb-2" placeholder="Имя держателя карты"/>
                        </div>
                        <div class="form-row">
                            <input type="hidden" name="specialist_id" v-model="selectedSpecialist.id">
                            <input type="hidden" name="theme_id" v-model="selectedThemes.id">
                            <input type="hidden" name="timeslot_id" v-model="selectedTimeslot.id">
                        </div>
                        <div class="form-row">
                            <button type="submit" v-on:click="showSuccess = true; magicPayment();
                                    class="btn selected-button  d-inline">
                                Оплатить 3 400 руб.
                            </button>
                        </div>
                    </form>


                </div>


            </div>
        </div>{% endcomment %}

        <div>
            <div class="container-fluid  text-center p-3 mt-4">
                <div class="h2-responsive  ">Наши специалисты</div>
            </div>


        </div>

        <div class="glider container " style="padding-left: 0px;">

            {% for specialist in specialists %}
                <div class="card m-3">

                    <div class="card-body rgba-grey-slight">
                        <h4 class="card-title"> {{ specialist.middle_name }} {{ specialist.first_name }}
                            {{ specialist.last_name }}</h4>
                        {% comment %}      <div class="card-text">
                        <div class="row">
                            <i class="fa fa-quote-left"></i>
                            <div class="row pl-3">{{specialist.quote}}</div>
                        </div>

                    </div>{% endcomment %}
                    </div>

                    <div class="rgba-grey-slight img-fluid">
                        <img class="card-img-bottom" src="/media/{{ specialist.avatar }}"
                             style=""/>

                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="container">
            <form action={% url 'select' %}>
                <button type="submit" class="btn btn-outline- " style="background-color:  #3899e1">
                    Подобрать специалиста
                </button>
            </form>
        </div>
    </div>


    <script>

    </script>


{% endblock %}


{% block js_add %}
    <script type="text/javascript" src="{% static "js/credit/cleave.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <script>
        moment.locale('ru');  // Set the default/global locale
    </script>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
