{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div id="select_app">

        <section class="select-specialist">

            <div class="mobile_search">


                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 p-1">
                                    <select class="browser-default custom-select" v-model="selectedTheme">
                                        <option selected :value={}>Выберите проблему</option>
                                        <option v-for="theme in themes" v-bind:value="theme">${theme.title}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 p-1">
                                    <select class="browser-default custom-select" v-model="selectedExps">
                                        <option v-for="exp in experienceList" v-bind:value="exp">${exp.value}</option>
                                    </select>
                                </div>
                                <div class="col-12 p-1">
                                    <select class="browser-default custom-select" v-model="selectedGender">
                                        <option selected value="">Выберите пол специалиста</option>
                                        <option value="male">мужской</option>
                                        <option value="female">женский</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div v-for="specialist in filteredSpecialists" :key="specialist.id"
                     @click="selectSpecialist(specialist)" data-toggle="modal"
                     data-target="#modalSpecialist">
                    <div class="row font-small">
                        <div class="col-4 p-1">
                            <div class="p-0">
                                <img class="img__gradient1" :src="specialist.avatar">
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="p-1">
                                <h4 class=""> ${specialist.middle_name}
                                    ${specialist.first_name}</h4>
                                <div class="">
                                    <div class="row">
                                        <blockquote v-html="specialist.quote">
                                        </blockquote>
                                    </div>

                                    <div class="row">
                                        <b>${specialist.experience} </b> лет опыта консультирования
                                    </div>

                                    <div class="row">
                                        <div class="modal__title">Направления:</div>
                                        <div class="theme-collapse row p-0 m-0">
                                            <div class="theme-btn" v-for="(theme, index) in specialist.themes"
                                                    {% comment %}        v-if="index < 4"{% endcomment %}
                                                 :class="theme.id == selectedTheme.id ? 'theme-btn-selected' : ''">
                                                ${theme.description}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="modal__title">Образование:</div>
                                        <p v-html="specialist.education"></p>
                                    </div>

                                    <div class="row">
                                        <div class="modal__title">Доп. образование:</div>
                                        <p v-html="specialist.education_add"></p>
                                    </div>

                                    <div class="row">
                                        <div class="modal__title">Доступное время:</div>
                                    </div>
                                    <div class="row">
                                        <div class=""
                                             v-for="(timeslot, index) in slotsAggr(specialist.timeslots)">
                                            <div class="timeslot-header">
                                                ${index | formatDay}
                                            </div>
                                            <div class="timeslot-select" v-for="time in timeslot"
                                                 v-on:click="selectTimeslot(time)"
                                                 :class="{ 'blue text-white': time.id == selectedTimeslot.id,}">
                                                ${time.start_time | formatTime}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" v-show="specialist.id===selectedTimeslot.specialist">
                                        <div class="col-12 modal__title">Стоимость: 3400 руб.</div>
                                        <form class="col-12" :action="'/enroll/'+selectedTimeslot.id">
                                            <button class="green-btn-small" type="submit">Записаться на консультацию
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="desktop_search">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>Выберите психотерапевра для онлайн-консультации</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-9 m-30 select-specialist__pro">
                            <div class="row select-specialist__list">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-30"
                                     v-for="specialist in filteredSpecialists" :key="specialist.id"
                                     @click="selectSpecialist(specialist)" data-toggle="modal"
                                     data-target="#modalSpecialist">
                                    <a :href="'/specialist/'+specialist.id" target="_blank" class="select-specialist__item">
                                        <div class="quote-wrapper">
                                            <p class="quote" v-html="specialist.quote"></p>
                                            <img :src="specialist.avatar" class="resp-img">
                                        </div>
                                        <p class="specialist__name"> ${specialist.middle_name}
                                            ${specialist.first_name}
                                            ${specialist.last_name }</p>
                                    </a>
                                    <p class="specialist__prof">${specialist.experience} лет опыта консультирования</p>
                                    <p v-if="specialist.next_slot" class="specialist__time">Ближайшая запись: ${specialist.next_slot.start_time | formatDayPretty} </p>
                                    <p v-else class="specialist__time__empty">На ближайшие даты нет записи</p>
                                    {% comment %} <div class="row font-small">
                                        <div class="col-3 p-1">
                                            <div class="p-0">
                                                <img class="img__gradient1" :src="specialist.avatar">
                                            </div>

                                        </div>
                                        <div class="col-9">
                                            <div class="p-1">
                                                <h4 class=""> ${specialist.middle_name}
                                                    ${specialist.first_name}
                                                    ${specialist.last_name }</h4>
                                                <div class="">
                                                    <div class="row">
                                                        <blockquote v-html="specialist.quote">
                                                        </blockquote>
                                                    </div>

                                                    <div class="row">
                                                        <b>${specialist.experience}</b> лет опыта консультирования
                                                    </div>
                                                    <div class="row">
                                                        <div class="modal__title">Направления:</div>
                                                        <div class="theme-collapse row p-0 m-0">
                                                            <div class="theme-btn"
                                                                 v-for="(theme, index) in specialist.themes"
                                                                 :class="theme.id == selectedTheme.id ? 'theme-btn-selected' : ''">
                                                                ${theme.description}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="modal__title">Образование:</div>
                                                        <p v-html="specialist.education"></p>
                                                    </div>

                                                    <div class="row">
                                                        <div class="modal__title">Доп. образование:</div>
                                                        <p v-html="specialist.education_add"></p>
                                                    </div>

                                                    <div class="row">
                                                        <div class="modal__title">Доступное время:</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class=""
                                                             v-for="(timeslot, index) in slotsAggr(specialist.timeslots)">
                                                            <div class="timeslot-header">
                                                                ${index | formatDay}
                                                            </div>
                                                            <div class="theme-btn" v-for="time in timeslot"
                                                                 v-on:click="selectTimeslot(time)"
                                                                 :class="{ 'blue text-white': time.id == selectedTimeslot.id,}">
                                                                ${time.start_time | formatTime}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>{% endcomment %}
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 m-30 select-specialist__filter">
                            <h4>Направление</h4>
                            <div class="filter-list m-30"> {% comment %}
                            <input type="radio" class="form-check-input" v-bind:id='{}'
                                   v-model="selectedTheme" v-bind:value="{}"/>
                            <label class="form-check-label" v-bind:for='{}'>Без темы</label>
                            <div v-for="(theme, index) in themes">
                                <input type="radio" class="form-check-input" v-bind:value="theme"
                                       v-model="selectedTheme" v-bind:id='theme.id'/>
                                <label class="form-check-label" v-bind:for='theme.id'>${theme.description}</label>
                            </div>
                        </div>{% endcomment %}
                                <div class="theme-item" v-for="(theme, index) in themes">
                                    <input v-bind:id='theme.id' type="radio" class="filter-input"
                                           name="filter-theme[]" v-bind:value="theme" v-model="selectedTheme"/>
                                    <label v-bind:for='theme.id' class="theme-label">${theme.description}</label>
                                    {% comment %}          <div class="filter__title">Опыт консультирования</div>
                                <div v-for="(exp, index) in experienceList" class="form-check">
                                    <input type="radio" class="form-check-input" v-bind:value="exp"
                                           v-model="selectedExps" v-bind:id="exp.value" v-bind:name="exp.value"
                                           v-bind:checked="exp.checked"/>
                                    <label class="form-check-label" v-bind:for="exp.value">${exp.value}</label>
                                </div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>


{% endblock %}

{% block js_add %}
    <script type="text/javascript" src="/static/js/script_select.js"></script>

    {% comment %}    <script type="text/javascript" src="/static/js/app.js"></script>{% endcomment %}



{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
