{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

    <section class="profile" id="{{ specialist.id }}">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 m-30">
                    <div class="profile__wrapper m-30">
                        <img src="../media/{{ specialist.avatar }}" alt="" class="resp-img profile__img" height="418">
                        <div class="profile__quote">
                            {{ specialist.quote | safe }}
                        </div>
                    </div>

                    <div class="profile__actions">
                        {% if  specialist.next_slot %}
                            <a href="#consultation" class="green-btn profile-btn open-modal">
                                Выбрать время консультации
                            </a>
                        {% else %}
                            <a href="#" class="green-btn profile-btn disabled " disabled>
                                Выбрать время консультации
                            </a>
                        {% endif %}

                        <p>
                            <strong>Ближайшая консультация:</strong>
                            {{ specialist.next_slot.start_time | date:"d M H:i" }}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 m-30">
                    <h2 class="m-30"> {{ specialist.middle_name }} {{ specialist.first_name }} {{ specialist.last_name }}</h2>
                    <p>
                        {{ specialist.experience }} лет опыта консультирования
                    </p>
                    <!--    -->
                    <p>
                        <strong>Образование</strong>
                    </p>
                    <p>
                        {{ specialist.education | safe }}
                    </p>
                    <!--    -->
                    <p>
                        <strong>Доп. образование</strong>
                    </p>
                    <p>
                        {{ specialist.education_add | safe }}
                    </p>
                    <!--    -->
                    <p>
                        <strong>Направления</strong>
                    </p>
                    {% for theme in specialist.themes.all %}
                        <p>
                            — {{ theme.description }}
                        </p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section class="recommendations">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Специалисты, работающие в похожих направлениях
                    </h3>
                </div>
            </div>
            <div class="row select-specialist__list">
                <!-- specialist -->
                {% for specialist in recommends %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-30">
                        <a href="/specialist/{{ specialist.id }}" class="select-specialist__item">
                            <div class="specialist__wrapper d-copy">
                                <img src="../media/{{ specialist.avatar }}" class="resp-img">
                            </div>

                            <div class="specialist__wrapper m-copy">
                                <img src="../media/{{ specialist.avatar_mob }}" class="resp-img">
                            </div>
                            <div class="m-info-wrapper">
                                <p class="specialist__name"> {{ specialist.middle_name }} {{ specialist.first_name }} {{ specialist.last_name }} </p>
                                <p class="specialist__prof">{{ specialist.experience }} лет опыта
                                    консультирования</p>
                                {% if specialist.next_slot %}
                                    <p class="specialist__time">Ближайшая
                                        запись: {{ specialist.next_slot.start_time | date:"d M H:i" }}</p>
                                {% else %}
                                    <p class="specialist__time__empty">Нет записей</p>
                                {% endif %}
                            </div>
                        </a>


                    </div>
                {% endfor %}
                <!-- specialist -->

            </div>
        </div>

    </section>

    <section class="all-scpecialists">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-0 col-sm-4 offset-sm-4">
                    <a href="{% url 'select' %}">
                        <button class="inv-green-btn">

                            Все специалисты
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div id="consultation" class="modal-div">
        <span class="modal-close"></span>
        <span class="modal-inner">

	    	<form :action="'/enroll/'+selectedTimeslot.id" method="GET" class="consultation-signup">

		        <div class="modal-header">
		            <p>Выберите дату и время консультации</p>
		        </div>
		        <div class="modal-container">
	                <div class="consultation__block">
                        <div v-for="(date, index) in slotsByDate" :key="index">
                            <p class="consultation__day">${index | formatDay}</p>
                            <div class="consultation__time m-10">
                                <!--
                                    время не доступное для записи не выводится
                                -->
                                <div class="consultation-item" v-for="timeslot in date" :key="timeslot.id">
                                    <input :id="'slot'+timeslot.id" type="radio" name="signup"/>
                                    <label :for="'slot'+timeslot.id" class="consultation-label"
                                           v-on:click="selectedTimeslot = timeslot;">${timeslot.start_time | formatTime}</label>
                                </div>

                            </div>
                        </div>

	                </div>
		        </div>
		        <div class="modal-footer">
		            <div class="consultation__actions">
		            	<p>
                                ${selectedTimeslot.start_time | formatDate} ${selectedTimeslot.start_time | formatTime}
		            	</p>

		            	    <button class="green-btn" {% comment %}:class="{ 'grey-btn' : !isEnroll}"{% endcomment %}
                                    :disabled="!isEnroll">
		            		Записаться
                            </button>

		            </div>
		        </div>
		    </form>
	    </span>
    </div>

    <div id="overlay"></div>

{% endblock %}

{% block js_add %}

    <script src="/static/js/script_specialist.js"></script>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
