{% extends "base.html" %}
{% load static %}
{% load groups %}


{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}


    <div id="adm_app" class="container">

        {% include "office/sidebar.html" %}
        <div class="">

            <div class="mt-3 mb-3">
                <div class="h2-responsive">Записи специалиста</div>


                <table class="table " style=" ">

                    <thead>
                    <tr>
                        <td>Дата</td>
                        <td>Осталось до начала</td>
                        <td>Пользователь</td>
                        <td>Психолог</td>
                        <td>Оплата</td>
                        <td>Ссылка</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="enroll in specialist_enrolls" class="">
                        <td>
                            <div class="day mr-1">${enroll.timeslot.start_time | day }</div>
                            <div class="month flex-wrap mr-3">${enroll.timeslot.start_time | month}</div>
                        </td>

                        <td> ${enroll.timeslot.start_time | formatDiff}</td>
                        <td> ${enroll.user.username}</td>
                        <td> ${enroll.timeslot.specialist.middle_name} ${enroll.timeslot.specialist.first_name}</td>
                        <td>${enroll.payment}</td>
                        <td><a :href="enroll.timeslot.videoconf_url">Перейти</a></td>
                    </tr>
                    </tbody>

                </table>

            </div>


        </div>
    </div>


{% endblock %}

{% block js_add %}
    <script type="text/javascript" src="/static/js/script_adm.js"></script>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
