{% extends "base.html" %}
{% load static %}
{% load groups %}


{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div id="adm_app" class="container">
        {% include "office/sidebar.html" %}
        <div class="h2-responsive mb-2">{{ specialist.middle_name }} {{ specialist.first_name }}</div>

        <div class="h2-responsive ">Выбор доступного времени консультаций</div>
        <div class="row mt-4 align-content-center">
            <div class="text-center " v-for="(date, index) in slotsByDate" style="display: flex;">

                <p class="day mr-1">${index | day} </p>
                <p class="month flex-wrap mr-3">${index | month}</p>

                {% comment %} <p class="">${index | dayOfWeek}</p>{% endcomment %}
                <div class="m-1" v-for="timeslot in date">
                    <div class="slot border p-1"
                         @click="editTimeSlot(timeslot)"
                         :class="{ 'blue text-white': timeslot.id > 0,}">
                        <div>${timeslot.time}</div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="editTimeSlotModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Выбор доступного времени</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group">

                            <p>День: ${editSlot.date}</p>


                            <p>Время: </p>
                            <input type="text" v-model="editSlot.time" placeholder=""/>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="">
                            Добавить в расписание
                        </button>

                    </div>
                </div>
            </div>
        </div>


        <!-- TimeSlot model -->


    </div>
    <!-- Table with panel -->

{% endblock %}

{% block js_add %}
    <script type="text/javascript" src="{% static "js/script_adm.js" %}"></script>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
