
<div id="slide-out" class="col-md-2">

            <ul class="">
                <li><a class="" href="{% url 'office' %}"><i
                        class=" fa fa-chevron-right"></i>
                    Консультации</a>
                </li>

                {% if user.specialist %}
                    <li><a class="" href="{% url 'schedule' %}"><i
                            class=" fa fa-calendar"></i>
                        Расписание</a>
                    </li>
                {% endif %}
                <li><a class="" href="{% url 'profile' %}"><i
                        class="fa fa-user"></i>
                    Профиль</a>

                </li>

            </ul>

</div>
