{% load static %}

<header>
    <div class="container">
        <div class="row header__row">
            <div class="col-8 col-sm-8 col-md-4">
                <img src="/static/img/pospsychology-logo.png" class="resp-img" alt="">
            </div>
            <div class="col-sm-12 col-md-6 d-copy">
                <ul class="header__btns">
                    <li>
                        <a href=" {% url 'select' %} " class="header-btn">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="header-btn">Ответы на вопросы</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 login__wrap d-copy">
                <div class="header-btn login">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">{{ user.username }}</a>
                                <div class="dropdown-menu">
                                    {% comment %} <a class="dropdown-item" href="#">Личный кабинет</a>{% endcomment %}
                                    <a class="dropdown-item" href="{% url 'office' %}">Заявки</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %} "></i>Войти</a>
                    {% endif %}
                </div>
            </div>
            <!-- mobile menu -->
            <div class="col-4 col-sm-4 m-copy">
                <div class="menu"></div>
                <ul class="menu__list menu-list">
                    <li>
                        <a href="{% url 'select' %}" class="header-btn">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="header-btn">Ответы на вопросы</a>
                    </li>
                    <li>
                        <div class="header-btn login">
                            Войти
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row header__info">
            <div class="col-sm-12 col-md-6 header__lrow">
                <h1>Онлайн-консультация психолога</h1>
                <img src="/static/img/header-img-clear.png" class="resp-img m-copy" alt="">
                <form action="{% url 'select' %}">
                    <button class="green-btn" type="submit">Начать</button>
                </form>
            </div>
            <div class="js-type__box">
                <p id="js-type__element" data-typeitid="18gl3fjt0ko">

                    <span style="display:inline;position:relative;font:inherit;color:inherit;"
                          class="ti-cursor">|</span></p>
            </div>
            <div class="col-sm-12 col-md-6 header__lrow d-copy">
                <img src="/static/img/header-img-clear.png" class="resp-img" alt="">
            </div>
        </div>


    </div>
</header>

