{% load static %}

<header class="header__small">
    <div class="container">
        <div class="row header__row">
            <div class="col-8 col-sm-8 col-md-4">
                <a href="/">
                    <img src="/static/img/rospsychology-logo-page.png" class="resp-img" alt="">
                </a>
            </div>

            <div class="col-sm-12 col-md-6 d-copy">
                <ul class="header__btns">
                    <li>
                        <a href=" {% url 'select' %} " class="header-btn active">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="header-btn">Ответы на вопросы</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 login__wrap d-copy">
                <div class="header-btn login">
                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ user.username }}</a>
                        <div class="dropdown-menu">
                            {% comment %} <a class="dropdown-item" href="#">Личный кабинет</a>{% endcomment %}
                            <a class="dropdown-item" href="{% url 'office' %}">Личный кабинет</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %} ">Войти</a>
                    {% endif %}
                </div>
            </div>
            <!-- mobile menu -->
            <div class="col-4 col-sm-4 m-copy">
                <div class="menu"></div>
                <ul class="menu__list menu-list">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'office' %}" class="header-btn">Личный кабинет</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'select' %}" class="header-btn">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="header-btn">Ответы на вопросы</a>
                    </li>

                    <li>
                        <div class="header-btn login">
                            <a href="{% url 'login' %}" class="header-btn">Войти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</header>

