{% load static %}

<header class="header__small">
    <div class="container">
        <div class="row header__row">
            <div class="col-8 col-sm-8 col-md-4">
                <img src="/static/img/pospsychology-logo.png" class="resp-img" alt="">
            </div>
            <div class="col-sm-12 col-md-6 d-copy">
                <ul class="header__btns">
                    <li>
                        <a href=" {% url 'select' %} " class="header-btn">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="" class="header-btn">Ответы на вопросы</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2 login__wrap d-copy">
                <div class="header-btn login">
                    <a class="nav-link" href="{% url 'login' %} "></i>Войти</a>
                </div>
            </div>
            <!-- mobile menu -->
            <div class="col-4 col-sm-4 m-copy">
                <div class="menu"></div>
                <ul class="menu__list menu-list">
                    <li>
                        <a href="{% url 'select' %}" class="header-btn">Подбор специалиста</a>
                    </li>
                    <li>
                        <a href="" class="header-btn">Ответы на вопросы</a>
                    </li>
                    <li>
                        <div class="header-btn login">
                              <a href="{% url 'login' %}" class="header-btn">Войти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</header>

